.setting-menu{
    height: 100%;
    background: #272C38;
    color: #D7DDE8;
    font-family: 'Segoe UI';
}

.setting-icon{
    margin-left: 10px;
    font-size: 13px;
    color: #cecece;
}

.setting-icon:hover{
    cursor: pointer;
}

.control-default{
    color: #3f95ff;
    font-size: 14px;
}

.menu-tab-controls{
    padding: 20px;    
}

.menu-tab-controls .tab-control input{
    background: #2f3541;
    border: 1px solid rgba(234, 234, 234, 0.25);
    outline: 0;
    color: #d7dde8;
    padding: 8px;
    width: 240px;
    font-size: 12px;
}

.menu-tab-controls .tab-content input:focus{
    border: 1px solid rgb(63, 149, 255);
}

.menu-tab-controls .tab-control input::placeholder{
    color: #d7dde8;   
    opacity: 1; 
}

:-ms-input-placeholder { 
    color: red;
}

::-ms-input-placeholder {
    color: red;
}

.menu-tab-title{
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.tab-content{
    max-width: 280px;
    margin-bottom: 20px;
}

.tab-content .labelText{
    margin-bottom: 5px;
    display: block;
}



.dashboard-change-content{
    bottom: 55px;
    position: absolute;
    height: 66px;
    background: white;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.9);
    width: 230px;
    left: 11px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-top-left-radius: 10px;
}


.active-class{
  opacity: 1;
  visibility: visible; 
}

.nonactive-class{
    visibility: hidden;
    opacity: 0
}

.dashboard-change-content h1{
    font-size: 15px;
    text-align: center;
    color: #3f95ff;
    padding: 23px;
}

.change-icon{
    font-size: 19px;
    position: absolute;
    bottom: 23px;
    color: #3f95ff;
    margin-left: 25px;
}

#ban{
    color: #3f95ff;
}

#ban:hover{
    color: rgba(63, 149, 255, 0.72);
}

#edit:hover{
    color: #ffffff;
}