.groups-menu{
    height: 100%;
    background: #272C38;
    color: #D7DDE8;
    font-family: 'Segoe UI';
    padding: 20px;
    margin: 15px;
}


.a-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #ffffff17;
}

.group-logo{
    width: 110px;
    height: 110px;
}

.group-info, .group-join{
    padding: 20px;
}

.group-info{
    max-width: 610px;
    width: 100%;
}

.panel-btn{
    padding: 8px;
    border: 0;
    font-weight: 500;
    font-size: 13px;
}


.leave-btn{
    background: #151515;
    color: #ffffff;
}

.join-btn{
    width: 166px;
}

.join-btn, .create-btn{
    background: #0094FF;
    color: white;
}

.info-desc p{
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.members{
    color: #3f95ff;
    margin-right: 5px;
}

.groups-panel-filter{
    display: flex;
    padding: 10px;
    align-items: baseline;
}

.groups-panel-filter select{
    margin: 5px;
}

.groups-panel-filter span{
    flex: 0 0 50px;
}

.group-setting{
    padding: 20px;
}

.group-setting input[name="groupName"] {
    display: block;
    width: 250px;
    background: transparent;
    border: 0;
    font-size: 25px;
    color: white;
}

.create-panel{
    background: black;
    max-width: 100%;
    width: 100%;
    position: relative;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
}
.create-panel *{
    z-index: 9;
    position: relative;
} 

.create-panel h1{
    text-align: center;
    padding: 40px;
}

.create-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.description-wrapper{
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 580px;
    width: 100%;
    align-self: center;
}

.description-wrapper p span{
    color: grey;
    padding-left: 40px;
}

.description-wrapper p{
    padding-bottom: 10px;
}

.description-wrapper textarea{
    min-height: 190px;
    padding: 10px;
    background: #000000ab;
    margin-bottom: 10px;
    resize: none;
    color: white;
}

.create-panel button{
    max-width: 350px;
    align-self: center;
    width: 220px;
    height: 55px;
    background: #0094FF;
    color: white;
    font-size: 20px;
}

.logo-wrapper .logo{
    width: 150px;
    height: 150px;
    min-width: 80px;
    min-height: 80px;
    background: black;
    margin-right: 25px;
    margin-left: 50px;
    position: relative;
    border: 1px solid white;
    background-size: cover;
    border-radius: 100%;
    display: flex;
}

.logo label{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.awesomeLogo{
    display: block;
    margin: auto;
}

.background{
    position: absolute;
    background: url(https://res.cloudinary.com/dhwgznjct/image/upload/v1541503446/teambuilder-wallpaper_q7kgzc.jpg);
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    max-width: 100%;
    z-index: 1;
}



.group-lounge{
    display: flex;
    height: 100%;
    width: 100%;
}

.group-lounge-info{
    color: white;
    background: #2b303b;
    max-width: 275px;
    width: 100%;
    border-left: 2px solid #3f95ff;
}

.group-lounge-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 30px;
}

.group-lounge-logo .logo{
    height: 95px;
    width: 95px;
    background-size: cover;
    border-radius: 100%;
    background-position: center;
}

.group-users{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-master, .group-members{
    width: 100%;
}

.group-master h2, .group-members h2{
    text-align: center;
    background: #394150;
    font-size: 13px;
    padding: 5px;
    font-weight: 500;
}


.user-info{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 8px;
    padding-left: 40px;
    background: #2b303b;
    box-shadow: 0px 0px 4px 0px #172626ba;
}

.user-status-online{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #33AB00;
    position: relative;
    padding: 1px;
}

.user-status-offline{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #888888;
    position: relative;
    padding: 2px;
    opacity: 0.5;
}

.user-info .user-name{
    padding-left: 7px;
    font-weight: 500;
}

.user-icon{
    width: 100%;
    height: 100%;
    background: grey;
    border-radius: 100%;
    background-size: cover;
    cursor: pointer;

}


.owner-crown{
    color: #F7CE04;
    margin: 0;
    font-size: 15px;
    margin-left: 5px;
}

.group-wall{
    background: #2b303b;
    max-width: 100%;
    width: 100%;
}

.group-wall form {
    margin: 0 auto;
    width: 95%;
}

.group-wall form textarea{
    width: 100%;
    height: 110px;
    background: #323742;
    resize: none;
    padding: 10px;
    color: white;
    border: 0;
}

.group-post-image-controls{
    background: #2B303B;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.group-posts{
    margin: 10px;
}

.group-post{
    background: #2B303B;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    color: white;
    padding: 25px;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #bdbdbd14;
    flex-direction: row;
    width: 100%;
}

.group-post .user-icon{
    margin-right: 20px;
    max-width: 190px;
    min-width: 80px;
    width: 20px;
    height: 80px;
    background-size: cover;
    border-radius: 50%;
}

.group-post-content{
    width: 100%;
    max-width: 730px;
    padding: 10px;
}


.return-label{
    padding: 10px;
    position: relative;
    width: 50px;
    display: block;
}

.return-label .return{
    font-size: 30px;
    cursor: pointer;
    color: #cecece;
}

.return-label .return:hover{
    color: white;
}


.light{
    color: #80808094;
    letter-spacing: 3px;
    font-size: 10px;
}

#timestamp{
    position: absolute;
    right: 30px;
    bottom: 15px;
}
