


.dashboard-wrapper{
    height:100%;
}

.dashboard-header{
    background: #3F95FF;
    color: #ffffff;
    min-height: 150px;
}


.dashboard-h-text-wrapper{
    padding: 20px;
}


.dashboard-content-tags{
    max-height: 110px;
    background: rgba(128, 128, 128, 0.02);
    height: 100%;
}

.post-image-wrapper{
    width: 100%;
    height: 230px;
}

.post-image{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.post-reactions-wrapper .reactions-head{
    background: #3F95FF;
    color: #ffffff;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.dashboard-content-post{
    padding: 25px;
}

.dashboard-post{
    max-width: 410px;
    border: 1px solid rgba(128, 128, 128, 0.08);
}

.post-details{
    height: 100%;
    width: 100%;
}

.reactions-list{
    max-height: 150px;
    height: 35px;
    width: 100%;
    background: rgba(128, 128, 128, 0.04);
}

#post-init-react{
    margin-right: 5px;
}

.post-commentBox-wrapper{
    padding: 10px;
    background: #3f95ff;
    height: 100%;
}

.post-comment-box{
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    display: flex;
    padding-top: 25px;
    padding-bottom: 20px;
}

.divider{
    width: 2px;
    min-height: 100%;
    background: rgba(128, 128, 128, 0.25);
}
.user-image{
    width: 50px;
    height: 40px;
    margin-right: 20px;
    margin-top: 5px;
    background-image: url(https://www.fakepersongenerator.com/Face/male/male1085599608124.jpg);
    background-size: contain;
    border-radius: 50%;
}

.main-comment-box{
    padding: 15px;
    word-break: break-all;
    outline: 0;
    width: 100%;
    font-family: 'Segoe UI';
    color: rgba(128, 128, 128, 0.74);
}