.dashboard-main-content{
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.section-selected-tab{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 130px;
    position: relative;
}


.dashboard-wrapper{
    height:100%;
}

.dashboard-header{
    background: #3F95FF;
    color: #ffffff;
    min-height: 120px;
}


.dashboard-h-text-wrapper{
    padding: 20px;
}


.dashboard-content-tags{
    max-height: 110px;
    background: rgb(43, 48, 59);
    height: 100%;
}

.post-image-wrapper{
    width: 100%;
    height: 100%;
    outline: 1px solid rgba(128, 128, 128, 0.08);
    text-align: center;
}

.post-image{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 260px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;
}

.post-image-more{
    display: inline-block;
    max-width: 150px;
    height: 120px;
    width: 100%;
    position: relative;
    background: rgb(47, 53, 65);
}

.post-image-more h4{
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    display: table;
    margin: 0 auto;
    color: #3f95ff;
    font-family: 'Segoe UI';
    font-weight: 400;
    text-decoration: underline;
    cursor:pointer;
}

.post-reactions-wrapper .reactions-head{
    background: #3F95FF;
    color: #ffffff;
    border-bottom: 1px solid grey;
    padding: 5px;
}

.reactions-list{
    max-height: 150px;
    height: 35px;
    width: 100%;
    background: rgba(128, 128, 128, 0.04);
}

#post-init-react{
    margin-right: 5px;
}


.dashboard-content-post{
    margin: 0 auto;
    border: 1px solid rgba(128, 128, 128, 0.08);
}

.dashboard-post{
    margin: 0 auto;
    max-width: 410px;
    margin-top: 10px;
    padding: 10px;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.1);
}

.dashboard-post-status-main #post-status{
    caret-color: #ffffff;
    color: #fff;
    margin: 0px;
    font-size: 13px;
    width: 100%;
    height: 108px;
    outline: 0;
    resize: none;
    display: block;
    padding: 20px;
    background: #3f95ff;
    border-top: 1px solid rgba(43, 48, 59, 0.25);
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

#post-status::-webkit-input-placeholder {
color: #fff;
}

#post-status:-moz-placeholder { /* Firefox 18- */
color: #fff;  
}

#post-status::-moz-placeholder {  /* Firefox 19+ */
color: #fff;  
}

#post-status:-ms-input-placeholder {
color: #fff;  
}

.dashboard-post-status-opt{
    width: 100%;
    height: 50px;
    background: #2f3541;
}

.post-details{
    height: 100%;
    width: 100%;
}


.post-commentBox-wrapper{
    padding: 10px;
    background: #3f95ff;
    height: 100%;
}

.post-comment-box{
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    display: flex;
    padding-top: 25px;
    padding-bottom: 20px;
}

.post-image-small {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 150px;
    height: 120px;
    width: 100%;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;
    outline: 1px solid rgba(128, 128, 128, 0.06);
}

.post-image-small:hover{
    opacity: 0.5;
    cursor:pointer;
}

.user-image{
    width: 50px;
    height: 40px;
    margin-right: 20px;
    margin-top: 5px;
    background-size: cover;
    border-radius: 50%;
}


.post-status-wrapper{
    padding-bottom: 5%;
    padding-top: 5px;
    padding: 10px;
    width: 100%;
    background: #fafafa;
}


.post-status-wrapper p{
    width: 100%;
    font-size: 14px;
    word-wrap: break-word;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.85);
}

.dashboard-icon{
    color: #d7dde8;
    font-size: 21px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}

.main-comment-box{
    overflow: hidden;
    resize: none;
    padding-left: 10px;
    border: 0;
    word-break: break-all;
    outline: 0;
    width: 100%;
    font-family: 'Segoe UI';
    color: rgba(128, 128, 128, 0.74);
    border-left: 2px solid #e2e1e1;
}

#opt-share{
    background: #3f95ff;
    padding: 5px;
    font-size: 15px;
    position: relative;
    font-family: 'Segoe UI';  
}

#gif-upload{
    border-radius: 10%;
    background: rgba(99, 99, 99, 0.27);
    font-family: monospace;
}

.opt-none{
    display: none;
}

.opt-cta{
    display: inline-block;
    cursor: pointer;  
}

.opt-image-upload{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.dashboard-opt-left{
    float: left;
    height: 100%;
}

.dashboard-opt-right{
    float: right;
    height: 100%;
}

.dashboard-opt-icon:hover{
    color:#ffffff;
}

.dashboard-timeout{
    position: absolute;
    background: rgba(0, 0, 0, 0.68);
    color: white;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.dashboard-timeout-content{
    margin: 130px;
}

.dashboard-timeout-content button{
    padding: 10px;
    margin-top: 10px;
    border: 0;
    color: white;
    background: #3F95FF;
    border-radius: 5px;
}

.dashboard-opt{
    padding: 11px;
    color: white;
    display: inline-block;
}



.file-preview{
    background: rgba(43, 48, 59, 0.99);
    height: 100px;
    position: relative;
    overflow-y: scroll;
}

.file-preview .image-preview{
    width: 120px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.file-preview ul{
    position: absolute;
    width: 100%;
    height: 100%;
}

.file-preview-hover{
    background: rgba(0, 0, 0, 0.1);
     opacity: 0.8;
}

.file-preview ul li{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    height: 100%;
    padding-right: 10px;
}

#post-from{
    margin-right: 50px;
}
#post-age, #post-from{
    margin: 10px;
    font-size: 13px;
    color: #657786;
    font-weight: 500;
    font-family: monospace;
}

#post-from-image{
    width: 50px;
    height: 50px;
    margin-bottom: 10px !important;
    border-radius: 100px;
    background-size: cover;
}

.post-from-detail{
    height: 55px;
    max-height: 55px;
    width: 100%;
}

.post-icon{
    cursor: pointer;
}

.post-control{
    text-align: end;
    position: relative;
}

.control-btn{
    position: absolute;
    right: 0;
    background: #2f3541;
    width: 100px;
    height: 70px;
    display: grid;
    border-top-left-radius: 4px;
}

.control-btn button{
    border: 0;
    margin-bottom: 1px;
    background: #2f3541;
    color: #ffffff;
    width: 100%;
}


.modal-wrapper{
    background: rgba(47, 53, 65, 0.78);
    background: rgba(47, 53, 65, 0.78);
    color: #ffffff;
    max-width: 500px;
    z-index: 10;
    padding: 20px;
    width: 100%;
    margin: auto;
}

.modal-wrapper h3{
    text-align: center;
    padding: 8px;
    font-family: 'Segoe UI';
}

.modal-opt{
    padding: 10px;
    width: 100%;
    display: inline-flex;
}

.modal-opt button{
    padding: 5px;
    border: 0;
    background: #3f95ff;
    color: white;
}

.modal-delete-btn, .modal-cancel-btn{
    margin: 0 auto;
}

.post-comment{
    padding: 10px;
    display: flex;
}

.comment-user-image{
    width: 44px;
    height: 35px;
    margin-right: 10px;
    margin-top: 5px;
    background-size: cover;
    border-radius: 50%;
}

.post-comment-info{
    width: 100%;
    background: #ffffff;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Segoe UI';
}

.post-comment-info p{
    font-size: 13px;
    padding-left: 10px;
    padding-top: 5px;
}

.post-comment-info #comment-from{
    color: #3f95ff;
    padding-left: 10px;
    font-size: 14px;
}

.post-comment-info #comment-date{
    float: right;
    font-size: 9px;    
}

.main-comment-wrapper{
    border: 1px solid rgba(226, 225, 225, 0.24);
}

.logout-wrapper{
    background: black;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 40px;
    margin-left: 20px;
    border-radius: 100%;
    text-align: center;
    z-index: 10;
}

.logout-icon{
    font-size: 20px;
    position: relative;
    color: #3f95ff;
    line-height: 40px;
    cursor: pointer;
}