.profile-head-wrapper{
    position: relative;
}

.profile-cover-image{
    width: 100%;
    height: 205px;
    background: #3f95ff;
    position: absolute;
    z-index: 0;
    background-size: cover;
}

.profile-control{
    right: 0;
    background: #2f3541;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 12;
}

.profile-control button{
    color: #ffffff;
    width: 80px;
    height: 25px;
    margin: 5px;
    background: #2e3340;
    border: 1px solid rgba(63, 149, 255, 0.39);
}

.profile-photo{
    position: relative;
    top: 95px;
    display: flex;
    width: 100%;
    color: #ffffff;
    z-index: 12;
    height: 205px;
}

.profile-name{
    display: flex;
    flex-direction: column;
}

.profile-name #title{
    color: #fb5d00;
    font-family: 'Segoe UI';
    font-size: 14px;
}

.profile-user-image{
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    background: black;
    margin-right: 25px;
    margin-left: 50px;
    position: relative;
    border: 1px solid white;
    background-size: cover;
}

.profile-menu-wrapper{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: #ffffff;
    background: #2f3541;
    z-index: 12;
    font-family: 'Segoe UI';
    position: relative;
}

.profile-menu-general{
    display: flex;
    width: 165%;
    padding: 15px;
    justify-content: center;
} 

.profile-user-info{
    /*width: 160px;*/
}
.profile-user-stats{
    display: flex;
    width: 100%;
    margin-top: 8px;
    border-left: 1px solid #ffffff;
    border-left: 1px solid white;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}


.profile-menu-general ul, .profile-user-stats ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.profile-user-stats ul{
    justify-content: end;    /* override */
}

.profile-menu-general ul li{
    margin-right: 12px;
    cursor: pointer;
    color: silver;
}

.profile-user-stats ul li{
    margin-right: 12px;
    cursor: pointer;
    color: white;
}

.stats-color {
    color: rgb(43, 57, 74);
}

.profile-active-tab{
    border-bottom: 1px solid #3f95ff;
    color: #ffffff !important;
}

.profile-user-image label{
    position: absolute;
    background: rgba(44, 45, 45, 0.43);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.profile-cover-image label{
    position: absolute;
    background: rgba(0, 0, 0, 0.84);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.profile-user-image label:hover {
    background: rgb(63, 149, 255);
}

.profile-image{
    margin: 30px;
}

.profile-cover{
    width: 100% !important;
    height: 60px;
    color: white;
}


.change-cover-text{
    position: absolute;
    font-size: 11px;
    text-align: center;
    font-family: 'Segoe UI';
    width: 100%;
    color: white;
}

.change-photo-text{
    position: absolute;
    font-size: 11px;
    text-align: center;
    font-family: 'Segoe UI';
    bottom: 3px;
}

@media only screen and (max-width: 850px){
    .dashboard-menu{
        display: none;
    }
    .dashboard-notification{
        display: none;
    }
    .profile-control{
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .profile-cover-image{
        height: 220px;
    }
    .profile-control{
        justify-content: center;
    }
    .profile-menu-wrapper{
        overflow: scroll;
    }
    .profile-menu-general ul li, .profile-user-stats ul li{
        height: 33px;
    }
    .dashboard-menu{
        display: none;
    }
    .dashboard-notification{
        display: none;
    }
}