html, body{
    overflow: hidden;
}

* {
    padding: 0;
    margin:0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3f95ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

h1{
    font-family: 'Segoe UI';
}

.header-wrapper{
    background: #293740;
    max-width: 100%;
    width: 100%;
    max-height: 300px;
    height: 300px;
    position: absolute;
}
.header-wrapper h1{
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    height: 50px;
    margin: 70px;
}

.clear-both{
    clear: both;
}

.right{
    float: right;
}

.left{
    float: left;
    margin-bottom: 30px;
}

.error{
    background: red;
    width: 100%;
    padding: 5px;
    display: block;
    text-shadow: 1px 1px 4px black;
    font-family: 'Segoe UI';
}

.success{
    background: #58c13f;
    width: 100%;
    padding: 5px;
    display: block;
    text-shadow: 1px 1px 4px black;
    font-family: 'Segoe UI';
}

.input-error{
    box-shadow: 0px 1px 1px 0px red;
}